.dropdown {
    button {
        // border: 1px solid #ced4da;
        background-color: #fff;

        span {
            display: inline-block;
            width: 95%;
            text-overflow: clip;
            overflow: hidden;
            vertical-align: middle;
        }

        &::after {
            margin-top: 12px;
            // position: relative;
            right: 0;
        }

        &.dropdown-toggle::after {
            display: inline-block;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
        }

        &.border-danger:focus {
            box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, .25);
        }
    }

    .dropdown-menu {
        width: 100%;
        border: 1px solid #00000070;
        padding: 5px;
        display: none;

        .dropdown-items {
            max-height: 300px;
            overflow: hidden;
            overflow-y: auto;
            margin: .25rem 1rem;

            .dropdown-item {
                padding: 5px;
                border-bottom: 1px solid #a79f9f;
                cursor: pointer;
                margin-bottom: 10px;
            }

            .dropdown-item:hover {
                background-color: #c9c9c950;
            }
        }

        .dropdown-count {
            border-top: 1px solid #ced4da;
            font-size: 12px;
            padding: .50rem 1rem 0;
            margin-top: .25rem;

            span {
                margin-right: 5px;
            }
        }

        & .dropdown-item {
            &:active {
                background-color: inherit !important;
                color: #212529 !important;
            }
        }
    }

    .dropdown-menu.show {
        display: block;
    }
}