$encodings: (
    ('<', '%3C'),
    ('>', '%3E'),
    ('#', '%23'),
    ('"', '%22')
);

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1)+$replace+str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@function get-icon($content, $viewBox) {
    $svg: '<svg viewBox="'+$viewBox+'" xmlns="http://www.w3.org/2000/svg">'+$content+'</svg>';

    @each $char,
    $encoded in $encodings {
        $svg: str-replace($svg, $char, $encoded);
    }

    @return url('data:image/svg+xml;charset=utf-8,' + $svg);
}

@function get-icon-bars($fill) {
    $content: '<path fill="#{$fill}" fill-rule="evenodd" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>';
    @return get-icon($content, '0 0 448 512');
}

@function get-icon-sort($fill) {
    $content: '<path fill="#{$fill}" fill-rule="evenodd" d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z"/>';
    @return get-icon($content, '-110 0 512 512');
}

@function get-icon-sort-up($fill) {
    $content: '<path fill="#{$fill}" fill-rule="evenodd" d="M182.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/>';
    @return get-icon($content, '-110 0 512 512');
}
@function get-icon-sort-down($fill) {
    $content: '<path fill="#{$fill}" fill-rule="evenodd" d="M182.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128z"/>';
    @return get-icon($content, '-110 0 512 512');
}

@function get-icon-filter($fill) {
    $content: '<path fill="#{$fill}" fill-rule="evenodd" d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/>';
    @return get-icon($content, '-110 0 512 512');
}