
$black-color: #333333;
$white-color: #ffff;


$primary-color: #3a85d9;
$primary-color-hover: #93a7ff;
$secondary-color: #fae239;
$secondary-color-hover: #e1c918;


$success: #00c247;
$info: #004ce8;
$warning: #ffe16a;
$error: #940d0d;
$disabled: #d8d8d8;


$dark-1: #181a20;
$dark-2: #1f222a;
$dark-3: #35383f;
$dark-4: #b4b4b4;


$white: #ffff;
$black: #000000;
$red: #f44336;

$background-light-1: #fff;
$background-light-2: #e9ecef;

$gutter-x: 0;
$gutter-y: 0;